:root {
  --black-coffe: #1a120b;
  --dark-brown: #3c2a21;
  --vanilla: #d5cea3;
  --cream-white: #e5e5cb;
  font-family: 'Domine', serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--black-coffe);
  background-color: var(--cream-white);
}

.page-header {
  text-align: center;
  font-size: 3rem;
}

.add-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  margin: 1rem;
  border: solid 0.12rem;
}

.add-btn {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 0.12rem;
}

.popup {
  z-index: 7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 320px;
  border: solid 0.12rem;
}

.book-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: var(--vanilla);
  color: var(--dark-brown);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-form > * {
  border-radius: 0.35rem;
}

.form-close-btn {
  position: absolute;
  left: 92%;
  top: 1.5%;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  border: solid 0.12rem;
  cursor: pointer;
}

.form-text-field,
.form-submit-btn,
#is-book-read {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
}

.form-text-field {
  font-size: 1.55rem;
  border: solid 0.12rem;
  text-align: center;
}

.form-divider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

label {
  font-size: 1.5rem;
  color: var(--black-coffe);
}

::placeholder {
  color: var(--dark-brown);
  text-align: center;
}

.form-submit-btn {
  font-size: 2rem;
  border: solid 0.12rem;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--cream-white);
}

button:active {
  background-color: var(--black-coffe);
  color: var(--cream-white);
}

input[type='text'],
input[type='number'] {
  background-color: var(--cream-white);
  outline: none;
}

input[type='checkbox'] {
  accent-color: var(--cream-white);
}

.library-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: solid 0.12rem;
  overflow: auto;
}

.book-card {
  position: relative;
  width: 360px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 2rem;
  border: solid 0.12rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: var(--cream-white);
  background-color: var(--black-coffe);
}

.book-title {
  font-size: 3rem;
}

.book-author {
  font-size: 2.5rem;
}

.book-delete {
  position: absolute;
  left: 85%;
  top: 88%;
  font-size: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: solid 0.12rem;
  text-align: center;
}

.book-change {
  position: absolute;
  left: 5%;
  top: 88%;
  font-size: 1.5rem;
  width: 6.3rem;
  height: 2.3rem;
  border: solid 0.12rem;
  border-radius: 0.5rem;
  text-align: center;
}

.hide {
  display: none;
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}
